/NetBeansProjects/FazAniversário/nbproject/private/
/NetBeansProjects/FazAniversário/build/
/NetBeansProjects/VictoriaGabrielHeranca/nbproject/private/
/NetBeansProjects/AutoescolaHeranca/nbproject/private/
/NetBeansProjects/NetBeansProjects/Gabriel_Victoria/nbproject/private/
/NetBeansProjects/NetBeansProjects/Victoria2024/nbproject/private/
/NetBeansProjects/NetBeansProjects/VictoriaCaixeta_0304/nbproject/private/
/NetBeansProjects/NetBeansProjects/VictoriaCaixeta1004/nbproject/private/
/NetBeansProjects/NetBeansProjects/Gabriel_Victoria/build/
/NetBeansProjects/NetBeansProjects/Victoria2024/build/
/NetBeansProjects/NetBeansProjects/VictoriaCaixeta1004/build/
/NetBeansProjects/NetBeansProjects/VictoriaCaixeta_0304/build/
/NetBeansProjects/calculadora/nbproject/private/
/NetBeansProjects/calculadora/build/
/NetBeansProjects/AutoescolaHeranca/build/
/NetBeansProjects/Interfaces/nbproject/private/
/NetBeansIF/NetBeansProjects/Faculdade_VictoriaTiago/nbproject/private/
/NetBeansIF/NetBeansProjects/Faculdade_VictoriaTiago/build/
/NetBeansIF/NetBeansProjects/SistemaCadastro/nbproject/private/
/NetBeansIF/NetBeansProjects/SistemaCadastro/build/
/NetBeansIF/NetBeansProjects/SistemaCadastro/dist/
/NetBeansProjects/Faculdade_VictoriaTiago/build/
/NetBeansProjects/Faculdade_VictoriaTiago/nbproject/private/
/NetBeansProjects/SistemaCadastro/nbproject/private/
/NetBeansProjects/UML/nbproject/private/
/NetBeansProjects/Victoria2024/build/
/NetBeansProjects/Victoria2024/nbproject/private/
/NetBeansProjects/VictoriaCaixeta1004/build/
/NetBeansProjects/VictoriaCaixeta1004/nbproject/private/
/NetBeansProjects/VictoriaCaixeta_0304/build/
/NetBeansProjects/VictoriaCaixeta_0304/nbproject/private/